@font-face {
  font-family: "Rabie";
  src: url("../fonts/Rabie-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Rabie";
  src: url("../fonts/Rabie-Extrabold.woff2") format("woff2");
  font-weight: 800; /* Extra bold */
  font-style: normal;
}
@font-face {
  font-family: "Rabie";
  src: url("../fonts/Rabie-Extralight.woff2") format("woff2");
  font-weight: 200; /* Extra light */
  font-style: normal;
}
@font-face {
  font-family: "Rabie";
  src: url("../fonts/Rabie-Light.woff2") format("woff2");
  font-weight: 300; /* Light */
  font-style: normal;
}
@font-face {
  font-family: "Rabie";
  src: url("../fonts/Rabie-Medium.woff2") format("woff2");
  font-weight: 500; /* Medium */
  font-style: normal;
}
@font-face {
  font-family: "Rabie";
  src: url("../fonts/Rabie-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rabie";
  src: url("../fonts/Rabie-Semibold.woff2") format("woff2");
  font-weight: 600; /* Semi bold */
  font-style: normal;
}
@font-face {
  font-family: "Rabie";
  src: url("../fonts/Rabie-Variable.woff2") format("woff2");
  font-weight: 400; /* Assuming this is the regular weight for the variable font */
  font-style: normal;
}

/* Reset básico para garantir consistência entre navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rabie", sans-serif;
}

body {
  font-size: 1.6rem; /* 16px */
  color: #fff9e5;
  background-color: #ed6b6e;
  padding: 1.2rem;
}

#conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 800px;
  text-align: center;
}

#conteudo textPath {
  font-size: 32px;
}

header,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 32px 0 24px 0;
}

header img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto 32px 0;
}

header h2 {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}

#container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.raspadinha-container {
  position: relative;
  background-image: url(../images/border.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 384px; /* Adjust width if necessary */
  height: 244px; /* Adjust height if necessary */
  margin-bottom: 32px;
  /* align verything in dhe center/middle */
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
  top: 2;
  left: 2;
  border: 4px solid #000;
  touch-action: none; /* Prevent scrolling and zooming on touch */
  margin-bottom: 6px;
}

canvas#imageCanvas {
  z-index: 1;
}

canvas#scratchCanvas {
  z-index: 2;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
}

footer h3 {
  color: #f9de7e;
  font-size: 32px;
}

footer p {
  font-size: 16px;
}

@media (min-width: 768px) {
  body {
    font-size: 18px; /* Ajuste o tamanho da fonte para telas maiores */
  }
}

header textPath {
  font-size: 24px;
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  position: absolute;
  bottom: 0;
  padding-bottom: 8px;
  text-align: center;
  width: 80%;
}

.rodape p {
  font-size: 12px;
  font-weight: 200;
}
